@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "primereact/resources/themes/lara-light-indigo/theme.css";

body {
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ROOT */
:root {
  overflow: hidden;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

/* ROOT LAYOUT */
.navbar {
  position: absolute;
}


.landing-bg {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 1) 100%) no-repeat center fixed,
    linear-gradient(to top, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 1) 100%) no-repeat center fixed,
    linear-gradient(to top, rgba(0, 0, 0, 0.4) 90%, rgba(0, 0, 0, 0.4) 90%) no-repeat center fixed,
    url('../images/landing-bg.jpg') no-repeat center 90% fixed;
  background-size: cover, cover, cover, cover;
}

/* USER LAYOUT */
.user-sidebar {
  position: fixed;
  height: 100%;
  width: 25rem;
  min-width: 25rem;
  border: 1px solid #a7a7a7;
  z-index: 50;
}

.user-sidebar-content {
  overflow-x: hidden;
  overflow-y: auto;
  left: 25%;
  position: fixed;
  z-index: 0;
}

.user-white-space {
  width: 25rem;
  min-width: 25rem;
}

.user-content {
  width: 100vw;
  overflow: hidden;
  /* min-width: 50rem; */
}

.user-sidebar .nav-link {
  color: #777777;
}

.user-sidebar .nav-link.active {
  color: #105E03 !important;
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.3s;
}

.chatlist {
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-conversation:hover {
  background-color: rgba(207, 207, 207, 0.462);
  transition: all 0.3s;
}

.matchlist {
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-y-borders {
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
}

/* CARD */

.card-footer {
  border-top: none !important;
  background: none !important;
}

.match-options {
  position: fixed;
  bottom: 8%;
}

/* PROFILE */
.profile-content {
  animation: fadeIn 0.2s ease-in-out;
}

.profile-card {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
}

/* MISC */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.z-index-10 {
  z-index: 10;
}

.z-index-5 {
  z-index: 5;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.display-7 {
  font-size: 1.5rem !important;
}

.display-8 {
  font-size: 1rem !important;
}

.clickable-highlight:hover {
  cursor: pointer !important;
  background-color: #cfcfcf76 !important;
}

.clickable {
  cursor: pointer;
}

.text-bold {
  font-weight: bold;
}

.text-softgreen {
  color: #105E03 !important;
}

.text-green {
  color: #105E03 !important;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: #a7a7a7;
}

.text-red {
  color: #dc3545;
}

.text-yellow {
  color: #ffc107;
}

.text-sm {
  font-size: 0.8rem;
}

.bg-softgreen {
  background-color: #57af5e;
}