@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "primereact/resources/themes/lara-light-indigo/theme.css";

body {
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ROOT */
:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

/* ROOT LAYOUT */
.navbar {
  position: absolute;
}


.landing-bg {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 1) 100%) no-repeat center fixed,
    linear-gradient(to top, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 1) 100%) no-repeat center fixed,
    linear-gradient(to top, rgba(0, 0, 0, 0.4) 90%, rgba(0, 0, 0, 0.4) 90%) no-repeat center fixed,
    url('../images/landing-bg.jpg') no-repeat center 90% fixed;
  background-size: cover, cover, cover, cover;
}

/* USER LAYOUT */
.user-sidebar {
  /* position: fixed; */
  height: 100%;
  width: 25%;
  min-width: 25rem;
  border: 1px solid #a7a7a7;
}

.user-sidebar-content {
  overflow-x: hidden;
  overflow-y: auto;
}

.user-content {
  width: 75%;
  /* min-width: 50rem; */
}

.user-sidebar .nav-link {
  color: #777777;
}

.user-sidebar .nav-link.active {
  color: #105E03 !important;
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.3s;
}

.chatlist {
  height:70vh;
  overflow-y: auto;
  overflow-x: hidden;

}
.matchlist {
  height:70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-y-borders {
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
}

/* MISC */

.display-7 {
  font-size: 1.5rem;
}

.clickable {
  cursor: pointer;
}

.text-bold {
  font-weight: bold;
}

.text-green {
  color: #105E03 !important;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: #a7a7a7;
}

.text-sm {
  font-size: 0.8rem;
}

.bg-softgreen {
  background-color: #57af5e;
}